@import url("navbar.css");
@import url("fonts.css");
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.section1
{
	width:960px;
	height:560px;
	background-color:#fff;
	margin:90px auto;
	overflow:hidden;
	z-index:30;
	margin-bottom: 20px;
	border-bottom:1px solid #c2063a;
}

.section1 .logo
{
	margin:-10px 0 0 680px;
	width:235px;
	height: 160px;
	
}
.section1 .img1
{
	margin:-200px 0 0 80px;
	padding-bottom: 100px;

    
}




.section1 .img2
{
	margin:0 0 280px -80px;
	
}
.section1 .img3
{
	margin:-600px 0 520px -450px;
}
.section1 .img4
{
	margin:0 0 220px -500px;
	position: absolute;
	top:500px;
	left:44%;
	z-index: 0000;
}
.section1 .prp
{
	margin:0 0 -100px 590px;
}
.section1 .ann
{
	margin:270px 0 -330px 660px;
	opacity: 0;
}
.section1 .rationalkite
{

	display: block;
	margin:480px 0 -540px 640px;

}
/*.section1 img
{
	display:block;
	padding-left:350px;
	margin-top:-35px;
}


.section1 .header1
{
	font-size:138px;
	margin-top:-290px;
	font-family:axiataBold;
	color:#ffffff;
	margin-left:35px;
	line-height:.8;
	line-height:110px;
	
}
.section1 .header2
{
	font-size:138px;
	margin-top:-90px;
	font-family:axiataBold;
	color:#71001a;
	margin-left:35px;
	line-height:.8;

}*/


.section2
{
	width:960px;
	min-height:100px;
	margin:0 auto;
	overflow:hidden;
	background:#ffffff;
	padding:0 60px;

}
.section2:first-of-type
{
	margin-bottom: -50px;
	clear: both;

}

.section2 .filterBtn:first-of-type
{

}
.section2 .filterBtn:last-of-type
{

}
.section2 .filterBtn
{
	float:left;
	font-family: axiataBold;
	font-size:20px;
	color:#c2063a;
	padding:0 20px 0px !important;
	width:280px;
	text-align: center;
	height:40px;

}
.borderTop
{
	padding-top: 20px !important;
	border-top:1px solid #c2063a;
	padding-bottom: 50px;

}


.section2 .filterBtn.active
{
	color:#0f529f;
}



.section3
{
	width:940px;
	min-height:700px;
	margin:0 auto;
	overflow:hidden;
	background:#ffffff;
	
}

.element-item
{
	float:left;
	margin:5px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border:1px solid #c4c5c5;
}


.element-item.navigatorMukhtar
{
	border:0 !important;
	margin-top: 20px;
	margin-bottom: 80px;
	margin-left: -20px;
}
.element-item.navigatorMukhtar:first-of-type
{
	border:0 !important;
	margin-bottom: -50px;
	margin-top: 10px;
}


/* clear fix */
.filterableDiv:after {
  content: '';
  display: block;
  clear: both;
}

.filterableDiv {
  max-width: 960px
}

.green
{
	background:#fff;
}

.blue
{
	background:#fff;
}

.red
{
	background:#fff;
}



.col1
{
	width:300px;
}

.col1_5
{
	width:455px;
}
.col0_5
{
	width:222px;
}

.col2
{
	width:610px;
}

.col3
{
	width:920px;
}

.row1
{
	height:300px;
}

.row2
{
	height:610px;
}

.row3
{
	height:920px;
}
.row0_5
{
	height:260px;
}
.row0_5 .overbox
{
	margin:0;
	padding:0;
}


  


.element-item .overbox {  
    background-color: #fff;  
    position: absolute;
	top:0;
	left:0;
    color: #000;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    opacity: 0;  
    width: 100%;  
    height: 100%;  
	padding: 130px 20px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-family: axiatBold;
	text-align: center;
	cursor: pointer;
	
}  

.element-item:hover .overbox {  
    opacity: .8;
}

.element-item .overtext {
	-webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;
	transform: translateY(40px);
	-webkit-transform: translateY(40px);
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}

.element-item .overtext3 {
	margin-top:120px !important;
}

.element-item .overtextsmall {
	margin-top:-100px !important;
}


.element-item .title {
	font-size: 2.5em;
	text-transform: uppercase;
	opacity: 0;
	margin-top: -40px;
	transition-delay: 0.1s;
    transition-duration: 0.2s;
    font-family: axiataBold;
	font-size: 20px;
}

.element-item:hover .title, .box:focus .title {  
    opacity: 1;
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
}


.element-item .tagline {
	font-size: 0.8em;
	opacity: 0;
	transition-delay: 0.2s;
    transition-duration: 0.2s;
    font-family: axiataBook;
    font-size: 16px;
}

.element-item:hover .tagline, .box:focus .tagline {  
    opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
}



.menu1
{
	/*background:#ffffff url("../img/index/map.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu2
{
	/*background:#ffffff url("../img/index/group-profile.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu3
{
	/*background:#ffffff url("../img/index/performance_kite.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu4
{
	/*background:#ffffff url("../img/index/menu4.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu5
{
	/*background:#ffffff url("../img/index/financial-highlights.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu6
{
	/*background:#ffffff url("../img/index/shaping_the_future.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu7
{
	/*background:#ffffff url("../img/index/chairman.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu8
{
	/*background:#ffffff url("../img/index/president-and-gceo.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu9
{
	/*background:#ffffff url("../img/index/strategic-journey-towards.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu10
{
	/*background:#ffffff url("../img/index/five-year-group-financial.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu11
{
	/*background:#ffffff url("../img/index/financial_performance.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu12
{
	/*background:#ffffff url("../img/index/reported.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu13
{
	/*background:#ffffff url("../img/index/summury.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu14
{
	/*background:#ffffff url("../img/index/corporate_profile.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu15
{
	/*background:#ffffff url("../img/index/profile-of-directors.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu16
{
	/*background:#ffffff url("../img/index/profile-management-team.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu17
{
	/*background:#ffffff url("../img/index/board.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu18
{
	/*background:#ffffff url("../img/index/share.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu19
{
	/*background:#ffffff url("../img/index/investment_performance.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu20
{
	/*background:#ffffff url("../img/index/prudent.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu21
{
	/*background:#ffffff url("../img/index/investor.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu22
{
	/*background:#ffffff url("../img/index/opco.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu23
{
	/*background:#ffffff url("../img/index/telcom.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu24
{
	/*background:#ffffff url("../img/index/xxxl.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu25
{
	/*background:#ffffff url("../img/index/dialog1.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu26
{
	/*background:#ffffff url("../img/index/robi1.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu27
{
	/*background:#ffffff url("../img/index/smart.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu28
{
	/*background:#ffffff url("../img/index/m1.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu29
{
	/*background:#ffffff url("../img/index/idea.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu30
{
	/*background:#ffffff url("../img/index/multinet.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu31
{
	/*background:#ffffff url("../img/index/new_business.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu32
{
	/*background:#ffffff url("../img/index/axiata-digital.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu33
{
	/*background:#ffffff url("../img/index/edotco.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu34
{
	/*background:#ffffff url("../img/index/finsta.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu35
{
	/*background:#ffffff url("../img/index/governance.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu36
{
	/*background:#ffffff url("../img/index/stmnt.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu37
{
	/*background:#ffffff url("../img/index/stmnt2.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu38
{
	/*background:#ffffff url("../img/index/agm.png") center center no-repeat;*/
	background-size: 100% 100%;
}
.menu39
{
	/*background:#ffffff url("../img/index/sus.png") center center no-repeat;*/
	background-size: 100% 100%;
}








.kite-tiny {
	-webkit-animation-name: kite-tiny-animation; /* Safari */
	-webkit-animation-timing-function: linear;
    -webkit-animation-duration: 5s; /* Safari */    
    -webkit-animation-iteration-count: infinite; /* Safari */
    -webkit-animation-direction: alternate; /* Safari */    
    animation-name: kite-tiny-animation;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

/* Safari */
@-webkit-keyframes kite-tiny-animation {
    0%   {top:500px;left:55%;}
    100%   {top:540px;left:56%;}

}

/* Standard syntax */
@keyframes kite-tiny-animation {
	 0%   {top:500px;left:55%;}
    100%   {top:540px;left:56%;}
}





.kite-small {
	-webkit-animation-name: kite-small-animation; /* Safari */
	-webkit-animation-timing-function: linear;
    -webkit-animation-duration: 3s; /* Safari */    
    -webkit-animation-iteration-count: infinite; /* Safari */
    -webkit-animation-direction: alternate; /* Safari */    
    animation-name: kite-small-animation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}

/* Safari */
@-webkit-keyframes kite-small-animation {
    0%   {margin-left:-430px;}
    100%   {margin-left:-440px;}
}

/* Standard syntax */
@keyframes kite-small-animation {
	0%   {margin-left:-430px;}
    100%   {margin-left:-440px;}
}









.kite-medium {
	-webkit-animation-name: kite-medium-animation; /* Safari */
	-webkit-animation-timing-function: linear;
    -webkit-animation-duration: 9s; /* Safari */    
    -webkit-animation-iteration-count: infinite; /* Safari */
    -webkit-animation-direction: alternate; /* Safari */    
    animation-name: kite-medium-animation;
    animation-timing-function: linear;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}

/* Safari */
@-webkit-keyframes kite-medium-animation {
    0%   {top:215px;margin-left:-600px;}
    100%   {top:285px;margin-left:-620px;}
}

/* Standard syntax */
@keyframes kite-medium-animation {
	0%   {top:295px;}
    100%   {top:285px;}
}

.kite-big {
	-webkit-animation-name: kite-big-animation; /* Safari */
	-webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s; /* Safari */    
    -webkit-animation-iteration-count: infinite; /* Safari */
    -webkit-animation-direction: alternate; /* Safari */    
    animation-name: kite-big-animation;
    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline-block;
}

/* Safari */
@-webkit-keyframes kite-big-animation {
    0%   {margin-top:-110px; margin-left:70px;}
    100%   {margin-top:-90px;}
}

/* Standard syntax */
@keyframes kite-big-animation {
    0%   {margin-top:-130px; margin-left:130px;}
    100%   {margin-top:-100px;}
}



#img-menu #img-opacity {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity:0;
}

#img-menu:hover > #img-opacity {
    opacity:0.5;
}

#img-menu #img-desc {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    opacity: 0;
    top:50px;
}

#img-menu:hover > #img-desc {
    opacity: 1;
    top:0;
}


#INTEGRITY1 .filterBtn
{
	display: inline-block;
	width: 280px !important;
	margin-left:260px; !important;
	clear: both;
}

@-moz-document url-prefix() { 
  .section1 .img1
	{
		margin:-120px 0 0 100px !important;
		padding-bottom: 100px;
	}
	.section1 .img2
	{
		margin:-60px 0 0 -610px !important;
		
	}
	.kite-big {
		-moz-animation-name: kite-big-animation; /* Safari */
		-moz-animation-timing-function: linear;
	    -moz-animation-duration: 1.5s; /* Safari */    
	    -moz-animation-iteration-count: infinite; /* Safari */
	    -moz-animation-direction: alternate; /* Safari */    
	    animation-name: kite-big-animation;
	    animation-timing-function: linear;
	    animation-duration: 1.5s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	    display: inline-block;
	}

	/* Safari */
	@-webkit-keyframes kite-big-animation {
	    0%   {margin-top:-120px; margin-left:70px;}
	    100%   {margin-top:-140px;}
	}

	/* Standard syntax */
	@keyframes kite-big-animation {
	    0%   {margin-top:-130px; margin-left:130px;}
	    100%   {margin-top:-100px;}
	}
	.navigatorMukhtar
	{
		border:0 !important;
		margin-top: 20px;
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto !important;
		width: 960px;
	}
	#INTEGRITY1 .filterBtn
	{
		display: inline-block;
		width: 280px !important;
		margin-left:260px; !important;
		clear: both;
	}
}




@-moz-document url-prefix() { 
	


	.kite-tiny {
	    animation-name: kite-tiny-animation;
	    animation-timing-function: linear;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}

	
	@keyframes kite-tiny-animation {
		 0%   {margin-top:50px;left:55%;}
	    100%   {margin-top:45px;left:55.2%;}
	}





	.kite-small {
	    animation-name: kite-small-animation;
	    animation-timing-function: linear;
	    animation-duration: 1.5s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}


	/* Standard syntax */
	@keyframes kite-small-animation {
		0%   {margin-left:-430px;margin-top:-120px;}
	    100%   {margin-left:-440px;margin-top:-110px;}
	}






	.kite-medium {
		animation-name: kite-medium-animation;
	    animation-timing-function: linear;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	}

	/* Standard syntax */
	@keyframes kite-medium-animation {
		0%   {top:295px;}
	    100%   {top:285px;}
	}

	.kite-big {
	    animation-name: kite-big-animation;
	    animation-timing-function: linear;
	    animation-duration: 1.5s;
	    animation-iteration-count: infinite;
	    animation-direction: alternate;
	    position: relative;
	}


	/* Standard syntax */
	@keyframes kite-big-animation {
	    0%   {top:-30px; left:-10px;}
	    100%   {top:-10px;left:-30px;}
	}



}