@import url("navbar.css");
@import url("fonts.css");
@import url("a_main_style.css");


/* general files*/
/*------------*/
canvas.smallTriangle{
    width:0; height:0;
    position:absolute;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
canvas.triangleLeft{
    border-right: 6px solid white;
}
canvas.triangleRight{
    border-left: 6px solid white;
}
canvas.Red{border-left-color: #8b0029 !important; border-right-color: #8b0029 !important;}
/*'Blue','Orange','purple','Red','Grean'*/
/*------------*/
/*------------*/

.section{
	width:852px;
	padding: 54px;
	padding-top: 10px;

}
.paragraph{
	margin-bottom: 13px;
	margin-top: 13px;
}

.main_title{
	margin-top: 30px;
	margin-bottom: 30px;

}

.diagramme_cover{
	height: 897px;
	background-color: #c40d42;
}

.diagramme_cover .small_tile{
 	background-color: #fff;
 	width:202px;
 	height:  52px;
 	vertical-align: center;
}
.small_tile .tile_desc{
	width:134px	;
}

.diagramme_cover .big_tile{

}
.foot_note{
	margin-top: 20px;
	margin-bottom: 20px;
}

.diagram_img{
	  background-image: url('../img/diagram_risk_management.png');
	  background-repeat: no-repeat;
	  background-position: 140px 56px;
}
.col2{

}
li .fa-play{
	margin-right: 9px;
}
li {
	margin-top: 2px;
  list-style-type: none;
    margin-left: 18px;
  text-indent: -1em;
    padding-left: 1em;
}

@-moz-document url-prefix() {

}