@import url("navbar.css");
@import url("fonts.css");
@import url("a_main_style.css");


.section{
	width:852px;
	padding: 54px;
	padding-top: 10px;

}
.paragraph{
	margin-bottom: 13px;
	margin-top: 13px;
}

.main_title{
	margin-top: 30px;
	margin-bottom: 30px;

}

.arrows{
	margin-top: 62px;
  vertical-align: bottom;

}




.table{ height: 490px; border-left: 1px solid #4d4d4f; margin-bottom: 30px;}
.table.first{height: 36px; margin-bottom: 0px;}
.table .header {}
.table .header .tr{ width: 100%; height: 35px;background-color: #c40d42;}
.table .header .tr .td{}
.table .body {}
.table .body .tr{ border-bottom: 1px solid #4d4d4f; height: 80px;}
.table .body .tr .td{ height: 70px;  border-right: 1px solid #4d4d4f;	}
.table .body .tr .td:nth-child(3){ 
   width: 65px;
  padding-left: 62px;
  padding-top: 24px;
  height: 57px;
}
.table .tr .td.wide{ width: 293px;}
.table .tr .td.narrow{width: 100px;}
.table .td { padding: 9px 25px 0px 25px;  display: inline-block; vertical-align: top;}

.explanation_footer img{
	margin-top: 3px;
  vertical-align: text-bottom;
  padding-left: 10px;
}
.explanation_footer{
	margin-top: 30px;
}


.scrollTableSide{
	width: 186px;
}
.scrollTableSide .cell{
	text-align: center;
	width: 186px;
}
.scrollTableSide .cell._1st{padding-top:13px; height:22px;}
.scrollTableSide .cell._2nd{padding-top:95px;  height:135px;}
.scrollTableSide .cell._3rd{padding-top:46px;  height:54px;}
.scrollTableSide .cell._4th{padding-top:153px; height:162px;}
.scrollTableSide .cell._5th{padding-top:110px; height:118px;}

.scrollableTable{
  width: 662px;
  overflow-x: visible;
  margin-left: -5px;
  vertical-align: top;
}
.scrollableTable .tr{
	
	}


.weirdTable{ margin-bottom: 30px;}

.row_cust{
	width: 1274px;
	margin-left: 0px;
	overflow-y: hidden;
	border-bottom: 1px solid grey;
}
.row_cust .cell_cust{
	display: inline-block;
}

.row_cust .cell_cust{ text-align: center; border-right: 1px solid #4d4d4f; vertical-align: top; height: 100%;}
.row_cust .cell_cust:nth-child(1){ width:150px;}
.row_cust .cell_cust:nth-child(2){ width: 196px;}
.row_cust .cell_cust:nth-child(3){ width: 63px;}
.row_cust .cell_cust:nth-child(4){ width: 203px;}
.row_cust .cell_cust:nth-child(5){ width: 245px;}
.row_cust .cell_cust:nth-child(6){ width: 114px;}
.row_cust .cell_cust:nth-child(7){ width: 95px;}
.row_cust .cell_cust:nth-child(8){ width: 98px;}
.row_cust .cell_cust:nth-child(9){ width: 67px;}

.row_cust.1st{}
.row_cust.2nd{}
.row_cust.3nd{}
.row_cust.4th{}
.row_cust.5th{}
.row_cust.6th{}
.row_cust.7th{}
.row_cust.8th{}
.row_cust.9th{}
.row_cust.11th{}
.row_cust.12th{}
.row_cust.11th{}