@import url("../navbar.css");
@import url("../fonts.css");
@import url("../fonts2.css");

.container {
	overflow-x:hidden; 
}

.percentage {
	font-family: axiataBold;
	font-size:49px;
}

.percentageExplanation {
	position: relative;
	font-family: axiataBold;
	font-size:21px;
}