
@import url("fonts.css");

html,body
{
	background:#fff;
	height:100%;
}
.content
{
	width:900px;
	background-color:#ffffff;
	margin:-30px auto;
	z-index:30;
	
}


.content .pic
{
	position: absolute; top:10px; left: 0;
	 width: auto;
	 height: 630px;
	 float:left;
	 width:390px;
	
}

.content .arr
{
	margin-left:-20px;
	padding-right:6px;
	
}


.content .text
{
	font-family:axiataBook;
	font-size:12px;
	 float:left;
	 max-width:500px;
	 margin-left:350px;
	 margin-top:110px;
	 text-align:justify;
}

.content b
{
	font-family:axiataBold;
	
}


.content .text .purple
{
	color:#c40c42;
	font-weight:bold;
}



.arrow-right {
	width: 5; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid green;
}
