@import url("navbar.css");
@import url("fonts.css");

.section1
{
	width:960px;
	height:730px;
	background-color:#c2063b;
	margin:90px auto;
	overflow:hidden;
	z-index:30;
	
}
.section1 img
{
	display:block;
	padding-left:350px;
	margin-top:-35px;
}


.section1 .header1
{
	font-size:138px;
	margin-top:-290px;
	font-family:axiataBold;
	color:#ffffff;
	margin-left:35px;
	line-height:.8;
	line-height:110px;
	
}
.section1 .header2
{
	font-size:138px;
	margin-top:-90px;
	font-family:axiataBold;
	color:#71001a;
	margin-left:35px;
	line-height:.8;
}


.section2
{
	width:960px;
	min-height:730px;
	margin:0 auto;
	overflow:hidden;
	background:#ffffff;
	
}

.section2 .header1
{
	font-size:25px;
	font-family:axiataBold;
	color:#8a8c8e;
	margin-left:50px;
	padding-top:40px;
	z-index:100;
	
}
.section2 .header2
{
	font-size:32px;
	font-family:axiataBold;
	color:#c40c42;
	margin-left:50px;
	margin-top:-20px;
	z-index:101;
}
.section2 .leftSec
{
	width:270px;
	height:582px;
	margin:0;
	background:#fff;
	float:left;
	padding-right: 10px;
}

.section2 .bar0
{
	margin-top:10px;
	margin-left:-10px;
	margin-right:50px;
	margin-bottom: -15px;
}

.section2 .bar1
{
	margin-top:40px;
	margin-left:70px;
	margin-right:50px;
}
.section2 .number1{
	margin:30px 0 0 83px;
	width:100px;
}

.section2 .number2{
	margin:-18px 0 0 183px;
	width:100px;
}
.section2 .rightSec
{
	width:560px;
	height:582px;
	margin:14px auto;
	background:#fff;
	padding-left: 30px;
	float: left;

}

.section2 .logoimg
{
	margin-top:20px;
	margin-left:430px;
	margin-right:50px;
	margin-bottom: 10px;
}
.section2 .uparr{
	padding-bottom:10px;
}

.section2 .divider{
	
	display: block;
	clear: both;
	position:relative;
	margin-bottom:-480px;
	margin-top:480px;
	margin-left:30px;
}

.section2 .number2{
	margin:-18px 0 0 183px;
	width:100px;
}
.section2 .greenNumber{
	font-family: axiataBold;
	font-size:88px;
	color:#0b6d3f;
	margin-top:-30px;
	margin-left:10px;
}

.section2 p{
	font-family: axiataBook;
	font-size:16px;
	color:#4d4d4f;
	margin-top:-4px;
	margin-left:0px;
	text-align: justify;
	width:900px;
}


.section3
{
	width:960px;
	min-height:730px;
	margin:0 auto;
	overflow:hidden;
	background:#ffffff;
	
}

.section3 .mapContainer
{
	font-size:25px;
	font-family:axiataBold;
	overflow:hidden;
	background:#ffffff url("../img/chapter7/section3/map.png") no-repeat top left;
	width: 849px;
	height: 547px;
	border: solid 2px #c40c42;
	margin:50px 0 0 82px;
	
}
.section3 .mapContainer .bangladesh
{
	font-size:16px;
	font-family:axiataBold;
	color:#ffffff;
	margin-left:235px;
	margin-top:130px;
	z-index:101;
	text-align: center;
	width:100px;

}

.section3 .mapContainer .cambodia
{
	font-size:16px;
	font-family:axiataBold;
	color:#4d4d4f;
	margin-left:403px;
	margin-top:42px;
	z-index:101;
	text-align: left;
	width:100px;

}

.section3 .mapContainer .srilanka
{
	font-size:16px;
	font-family:axiataBold;
	color:#4d4d4f;
	margin-left:47px;
	margin-top:10px;
	z-index:101;
	text-align: left;
	width:220px;

}

.section3 .mapContainer .malaysia
{
	font-size:16px;
	font-family:axiataBold;
	color:#4d4d4f;
	margin-left:142px;
	margin-top:-7px;
	z-index:101;
	text-align: center;
	width:220px;
}

.section3 .mapContainer .paragraph
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:20px;
	margin-top:45px;
	z-index:101;
	text-align: justify;
	width:805px;
}

.section3 .mapContainer .hugeNumber
{
	font-size:32px;
}



.section4
{
	width:960px;
	min-height:900px;
	margin:0 auto;
	overflow:hidden;
	background:#ffffff;
	
}


.section4 .header1
{
	font-size:21px;
	font-family:axiataBold;
	color:#c40d42;
	margin-left:80px;
	padding-top:10px;	
}

.section4 .paragraph
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:80px;
	margin-top:5px;
	z-index:101;
	text-align: justify;
	width:855px;
	margin-bottom: -30px;
}

.section4 .veryHugeNumber
{
	font-size: 63px;
	font-family: axiataBold;
	width:220px;
	height:60px;
}

.section4 .paragraph1
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:80px;
	margin-top:5px;
	z-index:101;
	text-align: justify;
	width:855px;
}

.section4 .paragraph1 .traingle
{
	height:30px;
	width:36px;
	margin-top:-60px;
	margin-left:77px;
}

.section4 .paragraph1 .continues
{
	width: 650px;
	height:90px;
	margin-left:200px;
	margin-top:-120px;
}

.section4 .paragraph1 .continues .title
{
	font-family: axiataBook;
	font-size:16px;
	line-height: 1.3;
}
.section4 .paragraph1 .continues .title b
{
	font-family: axiataBold;
}

.section4 .paragraph1 .continues  p
{
	font-family: axiataBook;
	font-size:16px;
	width:630px;
	margin-left:20px;
	margin-bottom:-38px;
	margin-top:-5px;
}

.section4 .paragraph1 .continues  .dot
{
	height:10px;
	width:10px;
}

.section4 .paragraph2
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:80px;
	margin-top:-30px;
	z-index:101;
	text-align: justify;
	width:855px;
}

.section4 .paragraph2 .traingle
{
	height:30px;
	width:36px;
	margin-top:-60px;
	margin-left:77px;
}

.section4 .paragraph2 .continues
{
	width: 650px;
	height:90px;
	margin-left:200px;
	margin-top:-90px;
}

.section4 .paragraph2 .continues .title
{
	font-family: axiataBook;
	font-size:16px;
	line-height: 1.3;
}
.section4 .paragraph2 .continues .title b
{
	font-family: axiataBold;
}

.section4 .paragraph2 .continues  p
{
	font-family: axiataBook;
	font-size:16px;
	width:630px;
	margin-left:20px;
	margin-bottom:-38px;
	margin-top:-5px;

}

.section4 .paragraph2 .continues .dot
{
	height:10px;
	width:10px;
}

.section4 .paragraph3
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:80px;
	margin-top:-50px;
	z-index:101;
	text-align: justify;
	width:855px;
}

.section4 .paragraph3 .traingle
{
	height:30px;
	width:36px;
	margin-top:-60px;
	margin-left:77px;
}

.section4 .paragraph3 .continues
{
	width: 650px;
	height:90px;
	margin-left:200px;
	margin-top:-90px;
}

.section4 .paragraph3 .continues .title
{
	font-family: axiataBook;
	font-size:16px;
	line-height: 1.3;
}
.section4 .paragraph3 .continues .title b
{
	font-family: axiataBold;
}

.section4 .paragraph3 .continues  p
{
	font-family: axiataBook;
	font-size:16px;
	width:630px;
	margin-left:20px;
	margin-bottom:-38px;
	margin-top:-5px;

}

.section4 .paragraph3 .continues .dot
{
	height:10px;
	width:10px;
}

.section4 .paragraph4
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-left:80px;
	margin-top:-50px;
	z-index:101;
	text-align: justify;
	width:855px;
}

.section4 .paragraph4 .traingle
{
	height:30px;
	width:36px;
	margin-top:-60px;
	margin-left:77px;
}

.section4 .paragraph4 .continues
{
	width: 650px;
	height:90px;
	margin-left:200px;
	margin-top:-90px;
}

.section4 .paragraph4 .continues .title
{
	font-family: axiataBook;
	font-size:16px;
	line-height: 1.3;
}
.section4 .paragraph4 .continues .title b
{
	font-family: axiataBold;
}

.section4 .paragraph4 .continues  p
{
	font-family: axiataBook;
	font-size:16px;
	width:630px;
	margin-left:20px;
	margin-bottom:-38px;
	margin-top:-5px;

}

.section4 .paragraph4 .continues .dot
{
	height:10px;
	width:10px;
}





.section4 .marginLeftAddition
{
	margin-left:30px;
}


.section4 .hugeNumber
{
	font-family: axiataBold;
	font-size:32px;
	margin-left:32px;
	margin-top:2px;
}

.section4 .nheader1
{
	font-size:21px;
	font-family:axiataBold;
	color:#c40d42;
	padding-top:10px;	
	width: 650px;
	margin-left:280px;

}

.section4 .nparagraph
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-top:5px;
	text-align: justify;
	width: 650px;
	margin-left:280px;

}


.section4 .seperator
{
	width:910px;
	height:2px;
	border-bottom:3px solid #e7eaec;
	margin-bottom:100px;
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	z-index: 9999;
}
.section5 .nheader
{
	font-size:25px;
	font-family:axiataBold;
	color:#8a8c8f;
	padding-top:10px;	
	width: 820px;
	margin-left:120px;

}
.section5 .nheader1
{
	font-size:32px;
	font-family:axiataBold;
	color:#c40d42;
	width: 820px;
	margin-left:120px;
	margin-top:-20px;

}

.section5 .nparagraph
{
	font-size:16px;
	font-family:axiataBook;
	color:#4d4d4f;
	margin-top:5px;
	text-align: justify;
	width: 820px;
	margin-left:120px;


}


.section5
{
	width:960px;
	min-height:730px;
	margin:0 auto;
	overflow:hidden;
	background:#fff;
	
}











.firstMargin
{
	margin-top:100px !important;
}


#movingSectionContainer
{
	margin-top:-90px !important;
	z-index:99;

}





p
{
	line-height:130% !important;
	font-size:15px !important;
}

.topImg
{
	position: absolute; bottom: 0; right: 0;
}


.readMore
{
	color:#c40d42;
	font-size:15px;
	font-family:axiataBook;
	font-weight:bold;
	margin-top:20px;
	text-decoration:none;
	cursor:pointer;
}