@import url("navbar.css");
@import url("fonts.css");

canvas.triangleLeftGrey {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 12px solid grey;
	width:0; height:0;
}

canvas.triangleRightGrey {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid grey;
	width:0; height:0;
}

canvas.triangleLeftRed {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 12px solid #700019;
	width:0; height:0;
}

canvas.triangleRightRed {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #700019;
	width:0; height:0;
}

canvas.triangleLeftGreen {
	position:absolute;
	border-top: 6px solid #0e6e41;
	border-bottom: 6px solid #0e6e41;
	border-right: 12px solid #0e6e41;
	width:0; height:0;
}

canvas.triangleRightGreen {
	position:absolute;
	border-top: 6px solid #0e6e41;
	border-bottom: 6px solid #0e6e41;
	border-left: 12px solid #0e6e41;
	width:0; height:0;
}
canvas.triangleLeftBlue {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 12px solid #005fa9;
	width:0; height:0;
}

canvas.triangleRightBlue {
	position:absolute;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 12px solid #1580c3;
	width:0; height:0;
}

.graphSection
{
	width:960px;
	height:730px;
	background:#ffffff url("../img/chapter6/section2/graph1.png") no-repeat top center;
	margin:0 auto;
	overflow:hidden;
	z-index:30;
	
}

.graphSection #bar1
{
	position: relative;
	top:270px;
	margin-left:78px;
	margin-right:-25px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar2
{
	position: relative;
	top:270px;
	margin-left:78px;
	margin-right:70px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar3
{
	position: relative;
	top:270px;
	margin-left: 26px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar4
{
	position: relative;
	top:270px;
	margin-left: 50px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar5
{
	position: relative;
	top:270px;
	margin-left: 100px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar6
{
	position: relative;
	top:270px;
	margin-left: 48px;
	width:20px;
	display: inline;
	height:200px;
}
.graphSection #bar7
{
	position: relative;
	top:270px;
	margin-left: 88px;
	width:20px;
	display: inline;
	height:200px;
}
