@import url("../navbar.css");
@import url("../fonts.css");
@import url("../fonts2.css");



.section{
    margin: 84px 42px 42px 0px;
 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height:700px;
}
.sectionContainer{
    min-height:900px;
}
.title{ display: block; color: #c40c42; font-size: 15.2px; font-weight: bolder; margin-bottom: 18px;  font-family: axiataBold, Arial;}
.big_txt{ color: #4d4d4f; font-weight: bolder; font-size: 15px;  font-family: axiataBold, Arial;}
.small_txt{ color: #4d4d4f; font-size: 14.5px;  font-family: axiataBook, Arial;}
.part{margin-bottom: 18px;}
.row{  width: 100%;  padding-left: 93px;}
.col2{width:  48%; display: inline-block;  vertical-align: top;}
